# the IP address of the api server inside the docker compose project
# should stay 0.0.0.0 if used in a docker project
HOST=0.0.0.0
# the port of the api server open in localhost
PORT=8000
# Only necessary for when DEBUG_MODE is set to False
SSL_CERT_PATH=path/to/my/ssl/cert.pem
SSL_KEY_PATH=path/to/my/ssl/key.pem
# The min version of the mobile app compatible with this version of the backend
# Used in the api for the mobile app to correctly update dbs
MIN_CLIENT_VERSION_CODE=4
MAX_CLIENT_VERSION_CODE=4
# Authentification info used by postgres
DB_USERNAME=my_username
DB_PASSWORD=my_password
# Set to True to activate debug api endpoints
DEBUG_MODE=False
